In [1]:
2+2

4

In [2]:
# hgfdethgy

# markdownnotebook
## markdownnotebook
###markdownnotebook

In [3]:
**Point1**(Bold)
*Point2*(Itallic)
***Point3***(Bold and Italic)

SyntaxError: invalid syntax (<ipython-input-3-9d024f7cbef0>, line 1)

In [4]:
**Point1**(Bold)

SyntaxError: invalid syntax (<ipython-input-4-e5c4017d06d8>, line 1)

**Point1** (Bold)
*Point2* (Itallic)
***Point3*** (Bold and Itallic)

Normal Text
Sublist 1
Sublist 2

Normal Text
Sublist 1
Sublist 2

In [6]:
print("Hello,Gitam")

Hello,Gitam

In [7]:
print("Hello,Gitam")
print("Hyderabad")

Hello,Gitam
Hyderabad

In [8]:
print("Hello,Gitam","|||",end = " ")
print("Hyderabad",end="|||")
print("Python Programming")

Hello,Gitam ||| Hyderabad|||Python Programming

In [9]:
n1=100
print(n1)

100

In [11]:
a = b = c =20
a1,b1,c1 = 111,222,333
print(n1)
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
111 222 333

#

In [12]:
a=100;
s1="Python"
s2='P'
f1=10,2
print(a,s1,s2,f1)
print(type(a),type(s1),type(s2),type(f1))

100 Python P (10, 2)
<class 'int'> <class 'str'> <class 'str'> <class 'tuple'>

In [13]:
i=100
print(type(1))
s1=str(i)
print(type(s1))
f1=float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [16]:
a1=1234
print(len(str(a1)))

4

In [17]:
s1=input("Enter your name")
print(s1)
print(type(s1))

Enter your namerevathi
revathi
<class 'str'>

In [18]:
n1=int(input("Enter a number"))
print(n1,type(n1))

Enter a number1234
1234 <class 'int'>

#

In [19]:
n1=int(input("Enter a number"))
print(n1,type(n1))

Enter a number1234
1234 <class 'int'>

In [20]:
n1=1234
print(n1+10)
print(n1-10)
print(n1*10)
print(n1%10)
print(n1/10)
print(n1//10)
print(n1**10)

1244
1224
12340
4
123.4
123
8187505353567209228244052427776

In [22]:
x=1+2**3/4+5
print(x)

8.0

In [23]:
x=1+2**3/4*5
print(x)

11.0

In [25]:
x=10
a1=x>15
print(a1)

False

In [27]:
i=100
a1=(i>15)and(i<800)
a2=(i>15)and(i>800)
print(a1)
print(a2)

True
False

In [28]:
n=int(input("Enter a number"))
if n%2==0:
    print("Even")
else:
    print("Odd")

Enter a number13
Odd

In [30]:
n=int(input("Enter a number"))
if n%3==0 and n%5==0:
    print("Yes")
else:
    print("No")

Enter a number13
No

In [33]:
n=int(input("Enter a number"))
if n==0:
    print("Zero")
elif n>0:
    print("Positive number")
elif n<0:
    print("Negative number")

Enter a number13
Positive number